html { scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
}

a, 
h1, 
h2, 
h3,
h4, 
h5,
.btn-default,
p {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

p { color: var(--font-color-light); }

ul li {
  list-style: none;
}

.container { 
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-container {
  margin: 0 50px;
}

.btn-default {
  padding: 10px 20px;
  background-color: #3071ff;
  border-radius: 20px;
  color: white;
}

:root {
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem; 
  --size-16: 1rem; 
  --size-18: 1.125rem; 
  --size-20: 1.25rem;
  --size-25: 1.563rem; 
  --size-30: 1.875rem; 
  --size-35: 2.188rem; 
  --size-40: 2.5rem; 
  --size-45: 2.813rem; 
  --size-50: 3.125rem; 
  --size-55: 3.438rem; 
  --size-60: 3.75rem; 
  --size-65: 4.063rem; 
  --size-100: 6.25rem;
  --size-150: 9.375rem;

  --banner-content-top-margin: 90px;
  --font-color-light: #74818E;
  --box-shadow: 0px 0px 10px rgb(48 63 100 / 15%);
  --blue: #3071ff;
}