@media screen and (max-width: 1089px) {
  .margin-right-auto {
    margin-right: 0;
  }
}

@media screen and (max-width: 1009px) {
  section.pricing {
    max-width: 600px;
  }

  .links {
    margin-left: 40px;
    margin-bottom: 90px;
  }

  .links-inside-container,
  .row-one,
  .row-two {
    gap: 85px;
  }

  hr.responsive-length {
    width: 88%;
  }
}

@media screen and (max-width: 1004px) {
  .card-flex-box .card {
    max-width: 325px;
  }

  .different-perspective {
    flex-direction: column;
    align-items: center;
  }

  .responsive-container {
    max-width: 735px;
  }

  .different-perspective-text {
    text-align: left;
    padding: 55px 72px 0px 72px;
  } 

  .different-perspective img {
    max-width: 82%;
  }

  .front-reasons hr {
    /* display: none; */
  }
}

@media screen and (max-width: 973px) {
  .footer {
    padding: 15px 0px 35px;
  }
  
  .footer-flex-container form {
    max-width: none;
  }
  .footer-flex-container form h3{
    max-width: none;
  }

  .footer-flex-container div {
    max-width: none;
    margin-left: 5px;
  }

  .footer-container {
    margin: 0 15px 100px 15px;
}

.form-btn { 
  width: 86%;
}

.links {
  margin-left: 15%;
}

.social-media div.facebook {
  margin-left: 0px;
 }
}

@media screen and (max-width: 967px) {
  .footer-nav {
    gap: 35px;
    padding: 0 60px 0 18%;
    margin-bottom: 50px;
  }


  section.copyright {
    text-align: left;
    margin-bottom: 50px;
    margin-left: 18%;
  }
  
  .copyright p {
    font-size: 14px;
     padding-right: 100px;
  }

  section.copyright p br {
    display: none;
  }

}

@media screen and (max-width: 973px) and (min-width: 768px) {
  
  input {
    width: 275px;
  }

  form select { 
    width: 285px
  }

  form textarea {
    width: 577px;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  .form-checkbox {
    margin-left: 23px;
  }
  .consent p {
    max-width: 550px;
    margin: 0px 23px 20px 0px;
  }
}

@media screen and (max-width: 965px){
  .fa-facebook-f {
    margin-left: 0px;
  }

  .footer-nav div.social-media {
    margin-left: 0px;
}

 
}

@media screen and (max-width: 914px) and (min-width: 769px) {
  .slack {display: none;}
}

@media screen and (max-width: 866px) {
  .hero {
    height: 845px;
  }

  .key-benefits {
    margin-top: -85px;
  }
  
  .icons {
    margin-left: 0;
    margin-top: 10px;
  }

  .banner-container {
    max-width: 550px;
    /* margin-top: 55px; */
    margin-top: 85px;
  }

  .hero-banner { 
    margin-top: 0;
    gap: 35px;
  }
  
  .banner-container h1 {
    margin-top: 0;
  }

  .banner-container p {
    margin-bottom: 35px;
    margin-top: 10px;
  }

  .hero-top-tabs {
    display: none;
  }

  [aria-controls="navbarDropdown"] {
      display: block;
  } 

  .main-nav-container [aria-expanded="false"] ~ ul {
      display: none;
  }

  /* .main-nav-container nav ul {
    display: none;
  } */

 .main-nav-container [aria-expanded="true"] ~  ul {
    display: block;
    position: absolute;
    right: 0;
    top: var(--size-50);
    width: 100%;
    text-align: right;
    max-width: max-content;
    margin-right: 50px;
  }

  .main-nav-container [aria-expanded="true"] ~ ul li:nth-child(6) {
    border-bottom: 1px solid black;
  }


  .main-nav-container [aria-expanded="true"] ~  ul .buy-now-btn {
    background-color: transparent;
    border-radius:0;
    color: black;
    padding: 0;
    font-weight: 400;
  }

  [aria-expanded="true"] ~ ul li a {
    /* margin-right: var(--size-20); */
    /* color: var(--font-color-dark); */
  }

  [aria-expanded="true"] ~ ul li {
    padding: 10px 40px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
  }

  .icons div.logo4,
  .icons div.logo7 {
    display: none;
  }

  /* .main-nav-container nav ul {
    display: block;
    max-width: 550px;
  } */

  .main-nav-container {
    max-width: 555px;
  }
  .main-nav-container img{
    position: absolute;
  }

  .navbar-toggler {
    position: absolute;
    top: 20px;
    right: 100px;
  }

}

@media screen and (max-width: 835px) {
  /* h3.cc {
    width: 150px;
  } */

  /* .third-dot {
    margin-top: 5px;
  } */
}

@media screen and (max-width: 771px) and (min-width: 769px) {
  .footer-flex-container div {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .card-flex-box .card {
    max-width: 250px;
  }

  .responsive-container {
    max-width: 580px;
  }

  .different-perspective img {
    max-width: 89%;
    margin-left: 11%;
  }

  .key-benefits {
    margin-bottom: 45px;
  }

  .why-front {
    margin-bottom: 10px;
  }

  .front-reasons {
    /* transform: rotate(90deg);
    height: 600px;
    align-items: flex-end;
    justify-content: initial;
    position: absolute;
    left: 100px; */
    transform: rotate(90deg);
    /* height: 439px; */
    align-items: flex-end;
    justify-content: initial;
    margin-top: 270px;
    position: relative;
    right: 185px;
    /* position: absolute;
    left: 100px; */
  }

 .front-reasons hr {
  width: 2%;
  margin: -43px -57px;
  }

  .reasons { 
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: rotate(270deg);
  }

  .reasons h3 {
    width: 143px;
  }

  .third-dot {
    margin-left: 64px;
  }
  h3.cc {
    width: 200px;
    position: relative;
    left: 13px;
  }

  h3.basic-elements {
    position: relative;
    left: 11px;
  }


  .reasons.cc {
    position: relative;
    right: 60px;
  }

  .reasons.pl {
    position: relative;
    right: 120px;
  }

  .hr3 {
    position: relative;
    right: 120px;
  }


  .why-front div.video-wrapper img {
    box-shadow: 1px 1px 22px -7px;
    max-width: 75%;
    height: 250px;
  }

  .hubspot-flex-wrapper {
    flex-direction: column;
    align-items: center;
  }

  /* .hubspot-flex-wrapper > img {
    max-width: 545px;
  } */

  .hubspot-flex-wrapper > img {
    max-width: 75%;
}

  .hubspot-flex-wrapper .grid-of-dots {
    position: absolute;
    max-width: 214px;
    z-index: 10;
    left: 55px;
    top: 275px;
  }

  .hubspot-text {
    align-self: start;
    margin-left: 100px;
    margin-top: 100px;
  }

  .hubspot-text img {
    max-width: 34%;
  }

  .hubspot-text p {
    line-height: 1.7;
    font-size: 19px;
    letter-spacing: 1px
  }

  .hubspot-text br {
    /* display: none */
  }

  br.desktop {
    display: none;
  }

  br.tablet {
    display: inline;
  }
  
  .weebly,
  .spotify {
    display: none;
  }

  section.pricing {
    max-width: 540px;
  }
/* 
  .footer-container {
    margin: 0 15px;
  } */

}

@media screen and (max-width: 767px) and (min-width: 599px) {
  input {
    width: 205px;
  }

 form select { 
    width: 215px
  }

  form textarea {
    width: 435px;
    margin-left: 5px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 614px) {
  .card-flex-box .card {
    max-width: 310px;
  }

  .responsive-container {
    max-width: 480px;
  }

  .key-benefits {
    margin-top: -169px;
  }
}

@media screen and (max-width: 601px) and (min-width: 599px) {
  .footer-flex-container div {
    margin-left: 0px;
  }
}

@media screen and (max-width: 598px) and (min-width: 591px) {
  input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 330px;
  }

  form select {
    width: 340px;
  }

  textarea {
    width: 335px;
  }
}

@media screen and (max-width: 590px) {
  input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 270px;
  }

  form select {
    width: 280px;
  }

  .third-form-line .country {
    /* width: 285px; */
  }

  form textarea {
    width: 275px;
  }

  .copyright p {
    padding-right: 50px;
  }
}

@media screen and (max-width: 550px) {
  .row-one,
  .row-two {
    gap: 55px;
  }

  .columns h3 {
    font-size: 22px;
  }

  .columns a {
    font-size: 14px;
  }
  
  .columns a span {
    font-size: 11px;
  }

}
@media screen and (max-width: 535px) {
  .hero {
    height: 940px;
  }
  
  .links {
    margin-left: 1%;
  }

  .footer-nav {
    padding: 0px 60px 0 5%;
  }

  section.copyright {
    margin-left: 6%;
  }
}

@media screen and (max-width: 530px) {
  .policy-terms span {
    margin: 0 17px;
  }
}

@media screen and (max-width: 520px) {
  .responsive-container {
    max-width: 345px;
  }

  .different-perspective-text {
    padding: 55px 0px 0px 42px;
  }

  .copyright p {
    padding-right: 20px;
  }
}

@media screen and (max-width: 520px) and (min-width: 426px) {
  .logo-flex-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (max-width: 470px) {
  .pricing-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
  }
}

@media screen and (max-width: 450px) {
  .logo6 { left: 280px; }
}

@media screen and (max-width: 438px) {
  input { 
    max-width: 210px;
    margin: 0 0px 20px 0px;
  }

  select {
    max-width: 219px;
    margin-left: 7px;
  }

  .country {
    margin-left: 7px;
  }

  form textarea {
    width: 210px;
  }
}

@media screen and (max-width: 425px) {
  .logo6 { left: 280px; }
  .hero { height: 980px; }
  .navbar-toggler { right: var(--size-20); }
  
  .front-reasons {
    right: 85px;
    margin-top: 100px;
  }

  .pricing-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }
  
  
  .why-front div.video-wrapper img {
    margin-top: 230px;
    height: 170px;
    max-width: 93%;
  }

  .hubspot-flex-wrapper img {
    max-width: 93%;
  }

  .hubspot-flex-wrapper .grid-of-dots {
    position: absolute;
    max-width: 203px;
    z-index: 10;
    left: 40px;
    top: 80px;
  }

  .front-reasons hr {
    margin: -50px -57px;
    height: 16px;
    transform: rotate(90deg);
  }

  .hubspot-text {
    margin-left: 0;
  }

  .hubspot-text img {
    max-width: 200px;
  }

  .hubspot-text br {
    display: none;
  }

  .trusted {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pricing-grid-container {
    margin-top: 20px;
  }

  .btn-form {
    max-width: 75%;
  }

  .links {
    margin-bottom: 70px;
  }

  .footer-nav div.policy-terms {
    margin-right: 0;
  }

  .footer-nav {
    padding: 0 60px 0 5%;
  }

  .social-media select {
    max-width: 150px;
  }

  /* section.copyright {
    margin-bottom: 20px;
  } */
} 

@media screen and (max-width: 412px) {
  .pricing-grid-container {
    margin-top: 0px;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  }
}

@media screen and (max-width: 395px) {
  .policy-terms span {
    margin: 0 15px;
  }

  .social-media div {
    margin-left: 13px;
  }

  .social-media select {
    margin-left: 13px;
  }
}

@media screen and (max-width: 392px) {
  .logo6 { left: 240px; }
}

@media screen and (max-width: 375px) {
  .logo6 { left: 240px; }

  .key-benefits p {
    margin-right: 5px;
    margin-left: 5px;
  }

  .front-reasons {
    right: 65px;
    margin-top: 70px;
  }

  .why-front p {
    width: 334px;
  }

  .why-front div.video-wrapper img {
    max-width: 100%;
  }

  .hubspot-text {
    margin-top: 60px;
  }

  .hubspot-text img {
    max-width: 170px;
  }

  .hubspot-text p {
    font-size: 16px;
  }

  .hubspot-flex-wrapper > img {
    max-width: 100%;
  }

  .hubspot-flex-wrapper .grid-of-dots {
    position: absolute;
    max-width: 146px;
    z-index: 10;
    left: 25px;
    top: 140px;
  }

  .logo-flex-wrapper div.logo {
    min-width: 90px;
  }

  /* .pricing-grid-container {
    margin-top: 0px;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  } */

  .pricing-internal-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .pricing-internal-grid div h4 {
    font-size: 22px;
  }

  .pricing-internal-grid div p {
    font-size: 18px;
  } 

  .pricing-internal-grid img {
    max-width: 70px;
  }

  .pricing-internal-grid div p {
    max-width: 350px;
    margin-bottom: 50px;
  }

  .starting-price {
    margin-right: 20px;
  }

  .starting-price p {
    font-size: 18px;
  }

  .links {
    gap: 50px;
    margin-bottom: 55px;
  }

  .links-inside-container {
    gap: 40px;
  }

  /* section.copyright {
    margin-bottom: 0px;
  } */
}


      





