@media screen and (max-width: 1089px) {
  .margin-right-auto {
    margin-right: 0;
  }
}

@media screen and (max-width: 1009px) {
  section.pricing {
    max-width: 600px;
  }
}

@media screen and (max-width: 1004px) {
  .card-flex-box .card {
    max-width: 325px;
  }

  .different-perspective {
    flex-direction: column;
    align-items: center;
  }

  .responsive-container {
    max-width: 735px;
  }

  .different-perspective-text {
    text-align: left;
    padding: 55px 72px 0px 72px;
  } 

  .different-perspective img {
    max-width: 82%;
  }

  .front-reasons hr {
    /* display: none; */
  }
}

@media screen and (max-width: 866px) {
  .hero {
    height: 845px;
  }

  .key-benefits {
    margin-top: -85px;
  }
  
  .icons {
    margin-left: 0;
    margin-top: 10px;
  }

  .banner-container {
    max-width: 550px;
    /* margin-top: 55px; */
    margin-top: 85px;
  }

  .hero-banner { 
    margin-top: 0;
    gap: 35px;
  }
  
  .banner-container h1 {
    margin-top: 0;
  }

  .banner-container p {
    margin-bottom: 35px;
    margin-top: 10px;
  }

  .hero-top-tabs {
    display: none;
  }

  [aria-controls="navbarDropdown"] {
      display: block;
  } 

  .main-nav-container [aria-expanded="false"] ~ ul {
      display: none;
  }

  /* .main-nav-container nav ul {
    display: none;
  } */

 .main-nav-container [aria-expanded="true"] ~  ul {
    display: block;
    position: absolute;
    right: 0;
    top: var(--size-50);
    width: 100%;
    text-align: right;
    max-width: max-content;
    margin-right: 50px;
  }

  .main-nav-container [aria-expanded="true"] ~ ul li:nth-child(6) {
    border-bottom: 1px solid black;
  }


  .main-nav-container [aria-expanded="true"] ~  ul .buy-now-btn {
    background-color: transparent;
    border-radius:0;
    color: black;
    padding: 0;
    font-weight: 400;
  }

  [aria-expanded="true"] ~ ul li a {
    /* margin-right: var(--size-20); */
    /* color: var(--font-color-dark); */
  }

  [aria-expanded="true"] ~ ul li {
    padding: 10px 40px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
  }

  .icons div.logo4,
  .icons div.logo7 {
    display: none;
  }

  /* .main-nav-container nav ul {
    display: block;
    max-width: 550px;
  } */

  .main-nav-container {
    max-width: 555px;
  }
  .main-nav-container img{
    position: absolute;
  }

  .navbar-toggler {
    position: absolute;
    top: 20px;
    right: 100px;
  }

}

@media screen and (max-width: 835px) {
  /* h3.cc {
    width: 150px;
  } */

  /* .third-dot {
    margin-top: 5px;
  } */
}

@media screen and (max-width: 768px) {
  .card-flex-box .card {
    max-width: 250px;
  }

  .responsive-container {
    max-width: 580px;
  }

  .different-perspective img {
    max-width: 89%;
    margin-left: 11%;
  }

  .key-benefits {
    margin-bottom: 45px;
  }

  .why-front {
    margin-bottom: 10px;
  }

  .front-reasons {
    /* transform: rotate(90deg);
    height: 600px;
    align-items: flex-end;
    justify-content: initial;
    position: absolute;
    left: 100px; */
    transform: rotate(90deg);
    /* height: 439px; */
    align-items: flex-end;
    justify-content: initial;
    margin-top: 270px;
    position: relative;
    right: 185px;
    /* position: absolute;
    left: 100px; */
  }

 .front-reasons hr {
  width: 2%;
  margin: -43px -57px;
  }

  .reasons {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: rotate(270deg);
  }

  .reasons h3 {
    width: 143px;
  }

  .third-dot {
    margin-left: 64px;
  }
  h3.cc {
    width: 200px;
    position: relative;
    left: 13px;
  }

  h3.basic-elements {
    position: relative;
    left: 11px;
  }


  .reasons.cc {
    position: relative;
    right: 60px;
  }

  .reasons.pl {
    position: relative;
    right: 120px;
  }

  .hr3 {
    position: relative;
    right: 120px;
  }


  .why-front div.video-wrapper img {
    box-shadow: 1px 1px 22px -7px;
    max-width: 75%;
    height: 250px;
  }

  .hubspot-flex-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hubspot-flex-wrapper > img {
    max-width: 545px;
  }

  .hubspot-flex-wrapper .grid-of-dots {
    position: absolute;
    max-width: 214px;
    z-index: 10;
    left: 55px;
    top: 275px;
  }

  .hubspot-text {
    align-self: start;
    margin-left: 100px;
    margin-top: 100px;
  }

  .hubspot-text img {
    max-width: 34%;
  }

  .hubspot-text p {
    line-height: 1.7;
    font-size: 19px;
    letter-spacing: 1px
  }

  .hubspot-text br {
    /* display: none */
  }

  br.desktop {
    display: none;
  }

  br.tablet {
    display: inline;
  }
  
  .weebly,
  .spotify {
    display: none;
  }
}

@media screen and (max-width: 614px) {
  .card-flex-box .card {
    max-width: 310px;
  }

  .responsive-container {
    max-width: 480px;
  }

  .key-benefits {
    margin-top: -169px;
  }
}

@media screen and (max-width: 535px) {
  .hero {
    height: 940px;
  }

}

@media screen and (max-width: 520px) {
  .responsive-container {
    max-width: 345px;
  }

  .different-perspective-text {
    padding: 55px 0px 0px 42px;
  }
}

@media screen and (max-width: 450px) {
  .logo6 { left: 280px; }
}

@media screen and (max-width: 425px) {
  .logo6 { left: 280px; }
  .hero { height: 980px; }
  .navbar-toggler { right: var(--size-20); }
  
  .front-reasons {
    right: 85px;
    margin-top: 100px;
  }

  
  
  .why-front div.video-wrapper img {
    margin-top: 230px;
    height: 170px;
    max-width: 93%;
  }

  .hubspot-flex-wrapper img {
    max-width: 357px;
  }

  .hubspot-flex-wrapper .grid-of-dots {
    position: absolute;
    max-width: 203px;
    z-index: 10;
    left: 40px;
    top: 80px;
  }

  .front-reasons hr {
    margin: -50px -57px;
    height: 16px;
    transform: rotate(90deg);
  }

  .hubspot-text {
    margin-left: 0;
  }

  .hubspot-text img {
    max-width: 200px;
  }

  .hubspot-text br {
    display: none;
  }
}



@media screen and (max-width: 392px) {
  .logo6 { left: 240px; }
}

@media screen and (max-width: 375px) {
  .logo6 { left: 240px; }

  .key-benefits p {
    margin-right: 5px;
    margin-left: 5px;
  }

  .front-reasons {
    right: 65px;
    margin-top: 70px;
  }

  .why-front p {
    width: 334px;
  }

  .why-front div.video-wrapper img {
    max-width: 100%;
  }

  .hubspot-text {
    margin-top: 60px;
  }

  .hubspot-text img {
    max-width: 170px;
  }

  .hubspot-text p {
    font-size: 16px;
  }

  .hubspot-flex-wrapper > img {
    max-width: 335px;
  }

  .hubspot-flex-wrapper .grid-of-dots {
    position: absolute;
    max-width: 146px;
    z-index: 10;
    left: 25px;
    top: 140px;
  }

  
}








